/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark-gray-color: #505050;
  --ligth-gray-color: #777777;
  --blue-color: #e2f4fc;
}

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: var(--dark-gray-color);
}

a {
  color: var(--dark-gray-color);
}

.container-centered {
  margin: 20px auto;
  width: 1024px;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

.two-columns {
  display: flex;
}

.left-column {
  width: 38%;
  color: var(--dark-gray-color);
  background-color: var(--blue-color);
  padding-bottom: 30px;
}

.right-column {
  width: 62%;
  padding: 40px 30px 30px 20px;
}

header {
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
}

header img {
  margin-bottom: 10px;
  border: 10px solid var(--blue-color);
  border-radius: 50%;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 7px;
}

header h2 {
  letter-spacing: 2px;
  margin-bottom: 5px;
}

header p {
  margin-bottom: 20px;
}

main {
  padding: 0 10px;
}

main h3 {
  width: 136px;
  margin: 30px auto 20px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: var(--dark-gray-color);
}

main .contacts h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(0, -50%);
}

main li {
  margin-bottom: 10px;
}

.contacts ul {
  margin-left: 30px;
}

.contacts li img {
  vertical-align: middle;
  margin-right: 15px;
}

.contacts li p {
  display: inline;
  vertical-align: middle;
}

.contacts a {
  text-decoration: none;
  color: var(--dark-gray-color);
}

main :not(.contacts) ul {
  list-style-type: disc;
  margin-left: 50px;
}

.language-name {
  font-weight: 700;
  text-transform: uppercase;
}

.right-column .sub-header {
  display: flex;
  margin-top: 20px;
  margin-bottom: 15px;
}

.right-column .about-myself .sub-header {
  margin-top: 0;
}

.about-myself p {
  margin-bottom: 5px;
  margin-left: 45px;
}

.about-myself p:last-of-type {
  margin-bottom: 0;
}

.right-column h3 {
  flex: 1;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--ligth-gray-color);
  border-bottom: 2px solid var(--ligth-gray-color);
}

.right-column img {
  vertical-align: middle;
  margin-right: 15px;
}

.right-column p {
  color: var(--ligth-gray-color);
}

.education p {
  margin-left: 45px;
}

.education p strong {
  font-weight: 700;
}

.work-list p {
  margin-left: 45px;
}

.work p strong {
  font-weight: 700;
}

.portfolio p {
  margin-left: 45px;
}

.portfolio p strong,
.about-myself p strong {
  font-weight: 700;
}

.portfolio li {
  margin-bottom: 5px;
}

.certificates ul {
  list-style-type: disc;
  margin-left: 45px;
  margin-bottom: 30px;
}

.certificates li {
  margin-bottom: 10px;
  font-size: 17px;
  color: var(--ligth-gray-color);
}

.right-column img.score-img {
  display: block;
  margin: 0 auto;
}

.underline-text {
  text-decoration: underline;
}

.uppercase-text {
  text-transform: uppercase;
}

.skills li,
.languages li {
  font-size: 17px;
}

.flex {
  display: flex;
  justify-content: flex-start;
}

.mb-5 {
  margin-bottom: 5px;
}

.work-experience {
  display: flex;
  column-gap: 25px;
}

.work-list {
  flex: 1 1 40%;
}

.work-duties {
  flex: 0 1 70%;
}

.functional-expertise {
  list-style-type: disc;
  font-size: 16px;
  margin-left: 60px;
  font-weight: bold;
}

.profile-expertise-title {
  text-align: center;
  text-decoration: underline;
}
